version: '3.8'
networks:
  siesta-net:
    name: siesta-net
    external: true

services:
  query:
    build: .
    container_name: query
    stdin_open: true
    environment:
      master.uri: local[*]
      server.port: 8090 # port of the application
      database: cassandra # cassandra or s3
      delta: false # True for streaming, False for batching
      spring.mvc.pathmatch.matching-strategy: ANT_PATH_MATCHER
      #for s3 (minio)
      s3.endpoint: http://minio:9000
      s3.user: minioadmin
      s3.key: minioadmin
      s3.timeout: 600000
      # Scylla/Cassandra configuration
      cassandra.contact.points: scylla
      cassandra.port: 9042
      cassandra.keyspace: siesta
    volumes:
      - ./build:/root/.m2
    ports:
      - '8090:8090'
    networks:
      - siesta-net

#  spark-master:
#    image: bitnami/spark:3.5.4
#    container_name: spark-master
#    environment:
#      - SPARK_MODE=master
#      - SPARK_RPC_AUTHENTICATION_ENABLED=no
#      - SPARK_RPC_ENCRYPTION_ENABLED=no
#      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
#      - SPARK_SSL_ENABLED=no
#    ports:
#      - "7077:7077" # Spark master port
#      - "8080:8080" # Spark Web UI
#    networks:
#      - cluster_net
#
#  spark-worker-1:
#    image: bitnami/spark:3.5.4
#    container_name: spark-worker-1
#    environment:
#      - SPARK_MODE=worker
#      - SPARK_MASTER_URL=spark://spark-master:7077
#      - SPARK_WORKER_MEMORY=1G
#      - SPARK_WORKER_CORES=1
#    depends_on:
#      - spark-master
#    networks:
#      - cluster_net
#
#  spark-worker-2:
#    image: bitnami/spark:3.5.4
#    container_name: spark-worker-2
#    environment:
#      - SPARK_MODE=worker
#      - SPARK_MASTER_URL=spark://spark-master:7077
#      - SPARK_WORKER_MEMORY=1G
#      - SPARK_WORKER_CORES=1
#    depends_on:
#      - spark-master
#    networks:
#      - cluster_net

