<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="expandable_card_header(title, hasRefresh, refreshFunction)">
    <div class="mdl-card__title expandable-header">
        <div class="left-content">
            <h2 class="mdl-card__title-text" th:text="${title}"></h2>
            <th:block th:if="${hasRefresh}">
                <div th:replace="~{components/refresh_button.html :: refreshButton(${refreshFunction})}"></div>
            </th:block>

        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon expand-icon" onclick="togglePanel(this)">
            <i class="material-icons icon-down">expand_more</i>
            <i class="material-icons hidden icon-up">expand_less</i>
        </button>
    </div>

</th:block>

<th:block th:fragment="expandable_card(id, title, card_content, hasRefresh, refreshFunction, contentId)">
    <div class="mdl-card mdl-shadow--2dp expandable-card collapsed hidden" th:attr="id=${id}">
        <div th:replace="~{components/expandable_card.html :: expandable_card_header(${title}, ${hasRefresh}, ${refreshFunction})}"></div>
        <div class="expandable-content">
            <div class="content-container" th:id="${contentId}">
                <th:block th:insert="${card_content}"/>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>