<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head(titleText)">
  <meta charset="UTF-8">
  <title th:text="${titleText}"> SIESTA </title>
  <link rel="icon" type="image/x-icon" th:href="@{/images/siesta_logo.png}">

  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" th:href="@{/css/basic.css}" />
  <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
</head>


</html>