<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="query_panel">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                        <div class="mdl-tabs__tab-bar">
                            <a href="#metadata-panel" class="mdl-tabs__tab is-active">METADATA</a>
                            <a href="#search-panel" class="mdl-tabs__tab">SEARCH</a>
                            <a href="#explore-panel" class="mdl-tabs__tab">EXPLORE</a>
                            <a href="#mining-panel" class="mdl-tabs__tab">MINING CONSTRAINT</a>
                        </div>

                        <div th:replace="~{fragments/query_panels/metadata_panel :: metadata_panel}"></div>

                        <div class="mdl-tabs__panel" id="search-panel">
                            <p>Search content goes here...</p>
                        </div>
                        <div class="mdl-tabs__panel" id="explore-panel">
                            <p>Explore content goes here...</p>
                        </div>
                        <div class="mdl-tabs__panel" id="mining-panel">
                            <p>Mining Constraint content goes here...</p>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
    <script th:src="@{/js/query_log.js}"></script>
</div>

</html>