.navbar .title {
    margin-left: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.home-container .mdl-layout__container {
    position:relative;
}

.home-container  .mdl-card {
    width: 100%;
    padding: 20px;
}

.home-container .info-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.home-container  .info-grid div {
    width: 45%;
}

.home-container  .section-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}

.event-types-info{
    display: flex;
    flex-direction: row;
}