.navbar {
    align-items: center;
    color: #555;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white; /* very important! */
    border-bottom: 2px solid #e7e4e4;
}