#pattern-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

#pattern-card{
    padding:10px;
}

#logSelector{
    width: 300px;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 8px;
}

.stats-entry {
    padding: 16px;
    width: 200px; /* or keep it auto if you want it to size by content */
    box-sizing: border-box;
    flex-shrink: 0; /* prevent shrinking */
}


#pattern-stats-fragment{
    padding:0;
    width: auto;
}

.mdl-data-table th{
    color:black;
}

.mdl-data-table td{
    color:black;
    text-align: center;
}

.full-width-table {
    width: auto;       /* only as wide as its content */
    margin: 0 auto;    /* fallback centering if needed */
}