<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head.html::html_head('SIESTA')}"></head>

<body>
<script>
    window.tabOpen = null;
</script>

<div class="mdl-list">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="home-container">
        <div th:replace="~{fragments/navigation_bar :: navbar('')}"></div>

        <div id="main-panel">

        </div>

    </div>


</div>
<script th:src="@{/js/metadata.js}"></script>
<script th:src="@{/js/pattern_detection.js}"></script>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Zoom plugin for Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>

<!--components-->
<script th:src="@{/js/components/expandable_card.js}"></script>
<script th:src="@{/js/components/refresh_button.js}"></script>

</body>
</html>