.expandable-card.collapsed{
    height: 70px;
    min-height: 60px;
}

.expandable-card{
    height:fit-content;
    width: 100%;
}

.expandable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
}


.left-content {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* space between title and refresh icon */
}

.left-content > * {
    align-self: center !important;
}

.refresh-icon {
    cursor: pointer;
    font-size: 24px;
}


.expandable-header .mdl-card__title-text{
    font-size: 20px;
}

.expandable-content{
    overflow: hidden;
    min-height: auto;
}

.content-container{
    padding: 20px 0;

    width: 90%;
}

.expandable-card.collapsed .expandable-content{
    height:0;
}

.expandable-card:not(.collapsed) .expandable-content {
    padding: 8px 0 8px 16px;
    display: flex;
    justify-content: center; /* centers the child horizontally */
    align-items: center;     /* optional: vertical centering */
    flex-direction: column;  /* stack multiple children vertically */
    overflow-x:auto;
    width:98%;
}